html {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.etchboxes {
    background-color: white;
    border: 1px solid rgb(241, 240, 240) !important;
    height: 73px;
    width: 73px; 
}

#divcontainer {
    height: 750px;
    width: 750px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}

.hovered:focus {
    background-color: purple;
}